NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=CF9vSglt+nbT3YQKQQ57EzqgWZHZoG81QU3wKdhxmZc=

RATE_LIMIT_POINTS=10
RATE_LIMIT_DURATION =60
RATE_LIMIT_BLOCK_DURATION=120
REMOVE_BG_URL=http://43.204.231.11:5000/remove-bg
GOOGLE_API_KEY=AIzaSyBqW1cad_vSr_O9xcwRWi5h1GwQAjgLElI
GOOGLE_SEARCH_ENGINE_ID=b1de651390d1347a7
MONGODB_URI=mongodb://localhost:27017/ai-toolkit

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=your-email@gmail.com
SMTP_REJECT_UNAUTHORIZED=true


# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


# Stripe Configuration
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# Stripe Price IDs (replace with your actual Price IDs from Stripe Dashboard)
STRIPE_PRICE_ID_GOLDEN_MONTHLY=price_1ST0fsFLWXlNz9n8tH9TifqK

```
